/* Font face */
@font-face{
    font-family: Argio;
    src: url(../Font/ArgioRegular-PKZWm.ttf);
}

@font-face{
    font-family: Source Code Pro;
    src: url(../Font/Source_Code_Pro/SourceCodePro-Regular.ttf);

}

@font-face{
    font-family: Source Code Pro;
    src: url(../Font/Source_Code_Pro/SourceCodePro-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Open-Sans;
    src: url(../Font/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: Open-Sans;
    src: url(../Font/Open_Sans/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Anonymous Pro;
    src: url(../Font/Anonymous_Pro/AnonymousPro-Regular.ttf);
}

@font-face{
    font-family: Anonymous Pro;
    src: url(../Font/Anonymous_Pro/AnonymousPro-Bold.ttf);
    font-weight: bold;
}
/* HMTL and Body setting */
*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-size: 16px;
    color: black;
    overflow-x: hidden;
    margin: 0px;
}


/* Navigation and Profile Container */
.navAndProfileContainer{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    box-shadow: 0 0.1px 20px rgba(0,0,0,0.04), 
                0 0.2px 30px rgba(0,0,0,0.03), 
                0 0.3px 40px rgba(0,0,0,0.025), 
                0 0.4px 50px rgba(0,0,0,0.02),
                0 0.5px 60px rgba(0,0,0,0.015), 
                0 0.6px 70px rgba(0,0,0,0.01);
    position: relative;
    z-index: 5;
}

nav ul{
    display: none;
}

.logo{
    font-family: Argio;
    margin: auto;    
    font-size: 4em;
    color: #e63946;
    height: 100%;
    line-height: 100%;
    cursor: pointer;

}

.logo span{
    color: #457b9d;
}

.menuIcon{
    font-size: 1.5em;
    color: #1d3557;
    position: absolute;
    right: 1em;
}

            /* Mobile navigation*/
            .mobileNavPanel{
                height: 100vh;
                width: 100%;
                display: flex;
                padding-top: 1em;
                position: absolute;
                z-index: 4;
                background-color: white;
                transform: translateX(100%);
                transition: transform 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
            }

            .mobileNavPanel ul{
                margin: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0px;
            }

            .mobileNavPanel ul li{
                width: 80%;
                flex-basis: 20%;
                display: flex;
                align-items: center;
                align-self: center;
                justify-content: flex-start;
                border-bottom: 0.1px solid #1d3557;
            }

            .mobileNavPanel ul li:last-of-type{
                border-bottom: none;
            }

            .navLinks{
                text-decoration: none;
                font-family: 'Source Code Pro';
                font-weight: bold;
                color: #1d3557;
                font-size: 2em;
                margin-left: 15%;
                position: relative;
                
            }

            .navLinks::first-letter{
                font-size: 1.5em;
            }

            .navLinks::after{
                content: "";
                width: 1em;
                height: 0.1em;
                background-color: #e63946;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

            .mobileNavPanel .navLinks{
                opacity: 0;
                transform: translateX(5em);
            }

            /* Profile photos and biography */
            .profilePhotoContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .photo{
                position: relative;
                overflow-x: hidden;
                display: flex;
            }

            .slider1, .slider2{
                width: 100%;
                height: 100%;
                position: absolute;
                transform: translateX(100%);
            }

            .slider1{
                background-color: #e63946;
                transition: transform 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);        
            }

            .slider2{
                
                background-color: #f1faee;
                transition: transform 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 500ms;

            }

            .innerContainer{
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                opacity: 0;
                transform: translateX(5%);
                transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1000ms;
            }

            .photo img{ 
                display: block;
                margin-left: auto;
                margin-right: auto;  
                width: 80%;           
                z-index: 1;
                object-fit: contain;
            }

            .biography{
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                transition: opacity 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .biography article{
                margin-right: 0.5em;
                margin-left: 0.5em;
                font-size: 1.2em;
                font-family: 'Open-Sans';
                color: #457B9D;
                position: relative;
                opacity: 0;
                transition: opacity 500ms ease-in-out 1500ms;

            }

            .decbar1{
                width: 0.2em;
                height: 3em;
                position: absolute;
                top: 0px;
                left: 50%;
                margin-top: -2em;
                background-color: #e63946;
                transform: translateY(-2em);
                opacity: 0;
                transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .decbar2{
                width: 0.2em;
                height: 3em;
                position: absolute;
                bottom: 0px;
                left: 50%;
                margin-bottom: -2em;
                background-color: #e63946;
                transform: translateY(2em);
                opacity: 0;
                transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .emphasized{
                color: #e63946;
            }

            .capitalized{
                font-size: 1.5em;
            }

/* Education Container */
.educationContainer{
    width: 100%;
    height: 100vh;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content{
    flex-basis: 25%;
    width: 90%;
    position: relative;
    background-color: #e63946;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content:nth-of-type(2){
    background-color: #457b9d;
}


.background{
    width: 100%;
    height: 0.5em;
    background-color: #1d3557;
    position: absolute;
    bottom: -0.5em;
    z-index: -1;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

}

.content:nth-of-type(2) .background{
    background-color: #ab3841;
}
        /* Title and Detail */
        .title{
            border-bottom: 0.1px solid white;
            color: white;
            padding-left: 1em;
            width: 90%;
        }

        .title p{
            font-size: 1.3em;
            font-family: 'Anonymous Pro';
            font-weight: bold;
        }

        .detail{
            width: 90%;
            color: white;
        }

        .detail p {
            font-family: Open-Sans;
        }

/* Personal information container */
.personalContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}



/* Decoration bar */
.decbar3, .decbar4{
    display: none;
}
.aboutMe{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
        /* About Me section */
        .personalTitle{
            width: 100%;
            padding-left: 0.5em;
        }

        .personalTitle p {
            font-size: 1.8em;
            font-family: 'Source code Pro';
            font-weight: bold;
            margin: 0.5em 0px ;
            position: relative;
        }

        .aboutMe .personalTitle p::after{
            content: "";
            position: absolute;
            width: 2em;
            height: 0.2em;
            background-color: #e63946;
            top: -0.2em;
            left: 0px;
        }

        .aboutMeContent{
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .aboutMeContent p{
            font-size: 1.2em;
            font-family: Open-Sans;
            color: #1d3557;
        }

.contactMe{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
            /* Contact Me section */
            .contactMe .personalTitle {
                padding-left: 0px;
                padding-right: 0.5em;
            }
            .contactMe .personalTitle p{
                text-align: right;
            }

            .contactMe .personalTitle p::after{
                content: "";
                position: absolute;
                width: 2em;
                height: 0.2em;
                background-color: #e63946;
                top: -0.2em;
                right: 0px;
            }

            .contactMeForm{
                width: 100%;
                flex-grow: 1;
            }

            .contactMeForm form{
                height: 100%;
            }

            .contactMeForm ul{
                height: 100%;
                margin: 0px;
                display: flex;
                flex-direction: column;
                padding: 0px;
            }

            .contactMeForm ul fieldset{
                width: 100%;
                padding: 0px;
                border: none;
            }

            .basicInfor{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }

            .message{
                flex-grow: 2;
                display: flex;
                flex-direction: column;
            }

            .contactMeForm ul li{
                list-style-type: none;
                color: #e63946;
                font-family: Open-Sans;
                margin: 0.5em 0px;
                padding: 0px 0.5em;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .basicInfor li{
                flex-grow: 1;
            }

            .contactMeForm ul li i{
                font-size: 0.7em;
                flex-basis: 5%;
            }

            .contactMeForm input, .contactMeForm textarea{
                height: 100%;
                flex-basis: 90%;
                background-color: #f0f9ff;
                color: #1d3557;
                font-size: 1.3em;
                font-family: Open-Sans;
                border: none;
                border-radius: 5em;
                padding-left: 0.5em;
            }

            .contactMeForm input:focus, .contactMeForm textarea:focus{
                outline: none;
            }

            .message li{
                flex-grow: 3;
            }

            .message textarea{
                border-radius: 0.5em;
            }

            .message button{
                flex-grow: 1;
                width: 40%;
                align-self: center;
                font-size: 1.5em;
                font-family: Open-Sans;
                font-weight: bold;
                border: none;
                border-radius: 5em;
                color: white;
                background-color: #e63946;
                cursor: pointer;
                border: 1px solid #e63946;
            }

            .message button:hover{
                background-color: white;
                color: #e63946;
            }

            .message button:focus{
                outline: none;
                background-color: white;
                color: #e63946;
            }



@media only screen and (max-width: 350px){
    html,body{
        font-size: 12px;
    }
}
/* Mobile landscape query */
@media only screen and (max-height:425px) and (orientation:landscape){
    .navAndProfileContainer{
        height: auto;
    }
    .mobileNavPanel ul li{
        flex-grow: 1;
    }

    .educationContainer{
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .content{
        margin-bottom: 1em;
        width: 80%;
    }

    .personalContainer{
        height: auto;
    }

}

/* Tablet query */

@media only screen and (min-width: 700px) and (max-width: 1024px){
    .profilePhotoContainer{
        width: 80%;
        margin:auto;
    }

    .biography article{
        font-size: 1.6em;
    }

    .educationContainer{
        width: 80%;
    }

    .content{
        flex-basis: 30%;
        flex-grow: 1;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .personalContainer{
        width: 75%;
        justify-content: space-around;
    }

    .aboutMe{
        flex-basis: 45%;
    }

    .aboutMeContent p{
        font-size: 1.7em;
    }
    .contactMe{
        flex-basis: 45%;
    }
}

/* Normal laptop query */
@media only screen and (min-width: 1025px){
    html,body{
        font-size: 12px;

    }
    .mobileNavPanel{
        display: none;
    }
    .menuIcon{
        opacity: 0;
        pointer-events: none;
    }

    .logo{
        margin-right: auto;
        margin-left: 0;
        flex-grow: 1;
        padding-left: 1em;
    }

    nav ul {
        display: flex;
        padding: 0px;
        flex-grow: 2;
    }
    nav li{
        flex-grow: 1;
        list-style-type: none;
        display: flex;
        align-items: center;
        border-right: 0.1px solid #1d3557;

    }
    nav li:last-of-type{
        border-right: none;
    }
    .navLinks{
        white-space: nowrap;
    }

    .profilePhotoContainer{
        flex-direction: row;
        align-items: center;
        height: 90%;
    }

    .photo{
        flex: 1 50%;
    }


    .photo img{
        height: 100%;
        
    }

    .biography{
        height: 100%;
        flex: 1 50%;
    }

    .biography article{
        font-size: 2.2em;

    }

    .educationContainer{
        height: 40vh;
        flex-direction: row;
    }

    .content{
        min-height: 90%;
    }

    .title{
        font-size: 1.5em;
    }

    .detail{
        font-size: 1.3em;
    }

    .personalContainer{
        margin-top: 5em;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    .decbar3{
        display: block;
        position: absolute;
        width: 0.4em;
        height: 10%;
        left: 49.5%;
        top: 45%;
        overflow: hidden;
    }

    .decbar3 div{
        height: 100%;
        width: 100%;
        background-color: #e63946;
        animation: movingVertical 10s linear 1s infinite alternate;
    }

    @keyframes movingVertical {
        0% {transform: translateY(-100%);}
        100% {transform: translateY(100%);}
    }

    .decbar4{
        display: block;
        position: absolute;
        height: 0.4em;
        width: 10%;
        top: 50%;
        left: 45%;
        overflow: hidden;
    }

    .decbar4 div{
        width: 100%;
        height: 100%;
        background-color: #e63946;
        animation: movingHorizontal 10s linear 0s infinite alternate;
    }

    @keyframes movingHorizontal {
        0% {transform: translateX(-100%);}
        100% {transform: translateX(100%);}
    }

    .aboutMe{
        width: 50%;
    }

    .aboutMe .personalTitle{
        padding-left: 2em;
    }

    .personalTitle p{
        font-size: 2.5em;
    }

    .aboutMeContent{
        padding-left: 2em;
        padding-right: 2em;
    }

    .aboutMeContent{
        font-size: 1.6em;
    }

    .contactMe{
        width: 50%;
        margin-left: 50%;
    }

    .contactMe .personalTitle{
        padding-right: 2em;
    }

    .contactMeForm ul li i{
        font-size: 1.2em;
    }

    .contactMeForm input, .contactMeForm textarea{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1440px){
    .profilePhotoContainer{
        width: 90%;
        margin: auto;
    }

    .educationContainer{
        width: 90%;
    }

    .personalContainer{
        width: 85%;
    }

    

}