/* Font face */
@font-face{
    font-family: Argio;
    src: url(../Font/ArgioRegular-PKZWm.ttf);
}

@font-face{
    font-family: Source Code Pro;
    src: url(../Font/Source_Code_Pro/SourceCodePro-Regular.ttf);

}

@font-face{
    font-family: Source Code Pro;
    src: url(../Font/Source_Code_Pro/SourceCodePro-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Open-Sans;
    src: url(../Font/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: Open-Sans;
    src: url(../Font/Open_Sans/OpenSans-Bold.ttf);
    font-weight: bold;
}
/* HMTL and Body setting */
*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-size: 16px;
    color: black;
    overflow-x: hidden;
    margin: 0px;
}


/* Navigation */
.navAndProfileContainer{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    box-shadow: 0 0.1px 20px rgba(0,0,0,0.04), 
                0 0.2px 30px rgba(0,0,0,0.03), 
                0 0.3px 40px rgba(0,0,0,0.025), 
                0 0.4px 50px rgba(0,0,0,0.02),
                0 0.5px 60px rgba(0,0,0,0.015), 
                0 0.6px 70px rgba(0,0,0,0.01);
    position: relative;
    z-index: 5;
}

nav ul{
    display: none;
}

.logo{
    font-family: Argio;
    margin: auto;    
    font-size: 4em;
    color: #e63946;
    height: 100%;
    line-height: 100%;
    cursor: pointer;

}

.logo span{
    color: #457b9d;
}

.menuIcon{
    font-size: 1.5em;
    color: #1d3557;
    position: absolute;
    right: 1em;
}

            /* Mobile navigation*/
            .mobileNavPanel{
                height: 100vh;
                width: 100%;
                display: flex;
                padding-top: 1em;
                position: absolute;
                z-index: 4;
                background-color: white;
                transform: translateX(100%);
                transition: transform 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
            }

            .mobileNavPanel ul{
                margin: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0px;
            }

            .mobileNavPanel ul li{
                width: 80%;
                flex-basis: 20%;
                display: flex;
                align-items: center;
                align-self: center;
                justify-content: flex-start;
                border-bottom: 0.1px solid #1d3557;
            }

            .mobileNavPanel ul li:last-of-type{
                border-bottom: none;
            }

            .navLinks{
                text-decoration: none;
                font-family: 'Source Code Pro';
                font-weight: bold;
                color: #1d3557;
                font-size: 2em;
                margin-left: 15%;
                position: relative;
                
            }

            .navLinks::first-letter{
                font-size: 1.5em;
            }

            .navLinks::after{
                content: "";
                width: 1em;
                height: 0.1em;
                background-color: #e63946;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

            .mobileNavPanel .navLinks{
                opacity: 0;
                transform: translateX(5em);
            }

            /* Profile photos and biography */
            .profilePhotoContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .photo{
                position: relative;
                overflow-x: hidden;
                display: flex;
            }

            .slider1, .slider2{
                width: 100%;
                height: 100%;
                position: absolute;
                transform: translateX(100%);
            }

            .slider1{
                background-color: #e63946;
                transition: transform 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);        
            }

            .slider2{
                
                background-color: #f1faee;
                transition: transform 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 500ms;

            }

            .innerContainer{
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                opacity: 0;
                transform: translateX(5%);
                transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1000ms;
            }

            .photo img{ 
                display: block;
                margin-left: auto;
                margin-right: auto;  
                width: 80%;           
                z-index: 1;
                object-fit: contain;
            }

            .biography{
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                transition: opacity 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .biography article{
                margin-right: 0.5em;
                margin-left: 0.5em;
                font-size: 1.2em;
                font-family: 'Open-Sans';
                color: #457B9D;
                position: relative;
                opacity: 0;
                transition: opacity 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .decbar1{
                width: 0.2em;
                height: 3em;
                position: absolute;
                top: 0px;
                left: 50%;
                margin-top: -2em;
                background-color: #e63946;
                transform: translateY(-2em);
                opacity: 0;
                transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .decbar2{
                width: 0.2em;
                height: 3em;
                position: absolute;
                bottom: 0px;
                left: 50%;
                margin-bottom: -2em;
                background-color: #e63946;
                transform: translateY(2em);
                opacity: 0;
                transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 1500ms;

            }

            .emphasized{
                color: #e63946;
            }

            .capitalized{
                font-size: 1.5em;
            }

/* Mobile landscape query */
@media only screen and (max-height:425px) and (orientation:landscape){
    .navAndProfileContainer{
        height: auto;
    }
    .mobileNavPanel ul li{
        flex-grow: 1;
    }
}

/* Tablet query */

@media only screen and (min-width: 700px) and (max-width: 1023px){
    .profilePhotoContainer{
        width: 80%;
        margin:auto;
    }

    .biography article{
        font-size: 1.6em;
    }
}

/* Normal laptop query */
@media only screen and (min-width: 1024px){
    html,body{
        font-size: 12px;

    }
    .mobileNavPanel{
        display: none;
    }
    .menuIcon{
        opacity: 0;
        pointer-events: none;
    }

    .logo{
        margin-right: auto;
        margin-left: 0;
        flex-grow: 1;
        padding-left: 1em;
    }

    nav ul {
        display: flex;
        padding: 0px;
        flex-grow: 2;
    }
    nav li{
        flex-grow: 1;
        list-style-type: none;
        display: flex;
        align-items: center;
        border-right: 0.1px solid #1d3557;

    }
    nav li:last-of-type{
        border-right: none;
    }
    .navLinks{
        white-space: nowrap;
    }

    .profilePhotoContainer{
        flex-direction: row;
        align-items: center;
        height: 90%;
    }

    .photo{
        flex: 1 50%;
    }


    .photo img{
        height: 100%;
        
    }

    .biography{
        height: 100%;
        flex: 1 50%;
    }

    .biography article{
        font-size: 2.2em;

    }
}

@media only screen and (min-width: 1440px){
    .profilePhotoContainer{
        width: 90%;
        margin: auto;
    }
}